@use './components/' as *;

$mainFont: 'Oswald', sans-serif;;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: $mainFont;
    width: clamp(320px, 90vw, 1760px);
    margin: 0 auto;
}

h1, h2, h3, h4, h5{
    text-transform: uppercase;
    font-weight: 700;
}

a{
    color: black;
}

button{
    font-family: $mainFont;
    cursor: pointer;
}

