.brand{
    width: 80%;
    margin: 0 auto;

    &__title{
        font-size: 2.5rem;
    }

    &__picwrapper{
        padding: 1rem 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }

    &__pic{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .brand{

        &__picwrapper{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(10, 1fr);
        }
    }
}