.contact{
    display: flex;
    padding: 4rem 0;

    &__wrapper{
        width: 50%;

        &--text{
            padding: 0 4rem;
        }
    }

    &__pic{
        width: 100%;
    }

    &__text{
        font-size: 1.5rem;

        &--small{
            display: none;
            padding: 1rem 0;
        }

        &--padding{
            padding: 0.5rem 0;
        }
    }
}

@media screen and (max-width: 1000px) {
    
    .contact{
        flex-direction: column;

        &__wrapper{
            width: 100%;

            &--text{
                padding: 0;
            }
        }

        &__text{

            &--big{
                display: none;
            }

            &--small{
                display: block;
            }
        }
    }
}