$descriptionWith: 75%;

.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7rem;

    &__titlewrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }

    &__logo{
        width: 350px;
    }

    &__picwrapper{
        width: 100%;
        padding-bottom: 3rem;
    }

    &__pic{
        width: 100%;
    }

    &__descriptiontitle{
        width: $descriptionWith;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 3rem;
        padding: 1rem 0;
    }

    &__description{
        width: $descriptionWith;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1000px ) {
    .header{

        &__titlewrapper{
            flex-direction: column;
            align-items: flex-start;
        }

        &__logo{
            width: 200px;
            padding: 0 1rem;
        }

        &__title{
            font-size: 1rem;
            padding: 1rem;
        }

        &__descriptiontitle{
            font-size: 2rem;
        }

        &__description{
            font-size: 1.5rem;
        }
    }
}