.impression{

    &__title{
        font-size: 2.5rem;
        padding: 2rem 0;
    }

    &__carousel{
        width: 100%;
    }

    &__pic{
        width: 100%;
    }

    &__counter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 0;
    }

    &__nums,
    &__num{
        font-weight: bold;
        font-size: 1.5rem;
    }

    &__num{
        padding: 0 0.5rem;
    }

    &__btn{
        border: none;
        background: none;
        font-size: 3rem;
    }

}

@media screen and (max-width: 1000px) {

    .impression{
        width: 100%;

        &__title{
            font-size: 1.5rem;
        }

    }
}