.section{
    display: flex;
    padding: 4rem 0;

    &--reverse{
        flex-direction: row-reverse;
    }

    &__picwrapper,
    &__textwrapper{
        width: 50%;
    }

    &__pic{
        width: 100%;
    }

    &__title{
        font-size: 2rem;
        padding: 0 0 1rem 3rem;
    }

    &__text{
        font-size: 1.5rem;
        padding: 0 3rem;
    }
}

@media screen and (max-width: 1000px) {
    
    .section{
        flex-direction: column;
        justify-content: center;
        align-items: center;    

        &__picwrapper,
        &__textwrapper{
            width: 100%;
        }

        &__title,
        &__text{
            padding: 1rem 1rem;
        }
    }
}

